<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Movie Review</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link th:href="@{/css/style.css}" rel="stylesheet" >
		<link th:href="@{/css/auditorium.css}" rel="stylesheet" >
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		

		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">Company Name</h1>
							<small class="site-description">Tagline goes here</small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">Movies</a></li>
							<li class="menu-item"><a href="/schedule">Schedule</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div id="booking-container">
				      <div class="movie-container" hidden>
				        <label> Select a movie:</label>
				        <select id="movie">
				          <option value="10.5"></option>
				        </select>
				      </div>
				  
				      <ul class="showcase">
				        <li>
				          <div class="seat"></div>
				          <small>Available</small>
				        </li>
				        <li>
				          <div class="seat selected"></div>
				          <small>Selected</small>
				        </li>
				        <li>
				          <div class="seat sold"></div>
				          <small>Sold</small>
				        </li>
				      </ul>
				      <div>
				        <div class="screen"></div>
				  
				        <div class="row">
				          <div class="seat" value="1"></div>
				          <div class="seat" value="2"></div>
				          <div class="seat" value="3"></div>
				          <div class="seat" value="4"></div>
				          <div class="seat" value="5"></div>
				          <div class="seat" value="6"></div>
				          <div class="seat" value="7"></div>
				          <div class="seat" value="8"></div>
				        </div>
				  
				        <div class="row">
				          <div class="seat" value="9"></div>
				          <div class="seat" value="10"></div>
				          <div class="seat" value="11"></div>
				          <div class="seat sold" value="12"></div>
				          <div class="seat sold" value="13"></div>
				          <div class="seat" value="14"></div>
				          <div class="seat" value="15"></div>
				          <div class="seat" value="16"></div>
				        </div>
				        <div class="row">
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat sold"></div>
				          <div class="seat sold"></div>
				        </div>
				        <div class="row">
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				        </div>
				        <div class="row">
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat sold"></div>
				          <div class="seat sold"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				        </div>
				        <div class="row">
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat"></div>
				          <div class="seat sold"></div>
				          <div class="seat sold"></div>
				          <div class="seat sold"></div>
				          <div class="seat"></div>
				        </div>
				      </div>
				  
				      <p class="text">
				        You have selected <span id="count">0</span> seat for a price of <span id="total">0</span> EUR.
				      </p>
			      	  <button class="cta-button" onclick="postSeatData()">Confirm Booking</button>
				      
				    </div>
					
				</div> <!-- .container -->
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Recent Review</h3>
								<ul class="no-bullet">
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Sit amet consecture</a></li>
									<li><a href="#">Dolorem respequem</a></li>
									<li><a href="#">Invenore veritae</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Help Center</h3>
								<ul class="no-bullet">
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Sit amet consecture</a></li>
									<li><a href="#">Dolorem respequem</a></li>
									<li><a href="#">Invenore veritae</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Join Us</h3>
								<ul class="no-bullet">
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Sit amet consecture</a></li>
									<li><a href="#">Dolorem respequem</a></li>
									<li><a href="#">Invenore veritae</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Social Media</h3>
								<ul class="no-bullet">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Google+</a></li>
									<li><a href="#">Pinterest</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div> <!-- .row -->

					<div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
				</div> <!-- .container -->

			</footer>
		</div>
		<!-- Default snippet for navigation -->
		


		<script src="/js/jquery-1.11.1.min.js"></script>
		<script src="/js/auditorium.js"></script>
		
	</body>

</html>